<h1 mat-dialog-title appTitles>
  {{ data ? 'Editar Inscripción' : 'Nueva Inscripción' }}
</h1>
<mat-divider class="pb-3"></mat-divider>
<div mat-dialog-content>
  <form [formGroup]="inscripcionForm">
    <mat-form-field class="example-form-field w-100 mb-3">
      <mat-label>Alumno</mat-label>
      <mat-select formControlName="alumnoId">
        <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">
          {{ alumno.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inscripcionForm.get('alumnoId')?.hasError('required')">
        Seleccione un alumno
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-form-field w-100 mb-3">
      <mat-label>Curso</mat-label>
      <mat-select formControlName="cursoId">
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inscripcionForm.get('cursoId')?.hasError('required')">
        Seleccione un curso
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="!inscripcionForm.valid">
    Guardar
  </button>
</div>
