.top-bar {
    background-color: rgb(15 31 63);
}

h1.logo  {
    color: aquamarine;
    font-family: "Playwrite GB S", cursive;
}

.mat-icon {
    vertical-align: text-top;
    padding-right: .5rem;
}

