<h2 mat-dialog-title appTitles>{{ data ? 'Editar Inscripción' : 'Nueva Inscripción' }}</h2>
<mat-divider class="pb-3"></mat-divider>

<mat-dialog-content>
  <form [formGroup]="inscripcionForm">
    <!-- Selección de Alumno -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>Alumno</mat-label>
      <mat-select formControlName="alumnoId" required>
        <mat-option *ngFor="let alumno of alumnosOptions$ | async" [value]="alumno.id">
          {{ alumno.firstName }} {{ alumno.lastName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inscripcionForm.get('alumnoId')?.hasError('required')">
        Seleccionar un alumno es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Selección de Curso -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>Curso</mat-label>
      <mat-select formControlName="cursoId" required>
        <mat-option *ngFor="let curso of cursosOptions$ | async" [value]="curso.id">
          {{ curso.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inscripcionForm.get('cursoId')?.hasError('required')">
        Seleccionar un curso es obligatorio.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="inscripcionForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>
