<h2 mat-dialog-title>{{ data.editingCurso ? 'Editar Curso' : 'Nuevo Curso' }}</h2>
<mat-dialog-content>
  <form [formGroup]="cursoForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Inicio</mat-label>
      <input matInput formControlName="startDate" type="date" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Fin</mat-label>
      <input matInput formControlName="endDate" type="date" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
