<h1 mat-dialog-title>Detalle del Usuario</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
  <p><strong>ID:</strong> {{ data.user.id }}</p>
  <p><strong>Nombre:</strong> {{ data.user.firstName }}</p>
  <p><strong>Apellido:</strong> {{ data.user.lastName }}</p>
  <p><strong>Correo:</strong> {{ data.user.email }}</p>
  <p><strong>Rol:</strong> {{ data.user.role }}</p>
  <p><strong>Creación:</strong> {{ data.user.createdAt | date }}</p>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
