
.mat-icon {
    vertical-align: sub;
}

button.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    border: none;
    text-align: left;
    margin-bottom: .5rem;
}