<div class="m-4">
  <div class="row">
    <div class="col-12">
      <button mat-fab extended class="float-end" (click)="abrirDialogo()">
        <mat-icon>add</mat-icon>
        Nueva Inscripción
      </button>
      <h1 appTitles class="my-4">Inscripciones</h1>
      <mat-divider></mat-divider>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>
      
        <ng-container matColumnDef="estudiante">
          <th mat-header-cell *matHeaderCellDef> Estudiante </th>
          <td mat-cell *matCellDef="let element"> {{ element.estudiante }} </td>
        </ng-container>
      
        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef> Curso </th>
          <td mat-cell *matCellDef="let element"> {{ element.curso }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="['id', 'estudiante', 'curso']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'estudiante', 'curso']"></tr>
      </table>
    </div>
  </div>
</div>

