// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Incluye estilos comunes para Angular Material.
// Esto debe incluirse solo una vez.
@include mat.core();

// Define el tema personalizado.
$contardo-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Aplica el tema a todos los componentes de Angular Material.
:root {
  @include mat.all-component-themes($contardo-theme);
}

// Comentario opcional para incluir la jerarquía de tipografías.
// @include mat.typography-hierarchy($contardo-theme);

// Comentario opcional para la compatibilidad de colores heredados.
// @include mat.color-variants-backwards-compatibility($contardo-theme);

// Agrega estilos globales.
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: darkcyan!important;
}

.mat-divider.aqua {
  border-top-color: aquamarine!important;;
}

.mat-mdc-cell {
  border-bottom-color: aquamarine!important;
}

.mat-mdc-form-field-error {
  color: #29cec5!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-line-ripple::before {
  border-bottom-color: aquamarine!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-floating-label {
  color: #3cafaa !important;
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: rgb(15, 31, 63)!important;
  background-color: aquamarine!important;
}

.mat-mdc-button:not(:disabled) {
  color: rgb(15, 31, 63)!important;
}